* {
    margin: 0;
    padding: 0;

    outline: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to top, #333, #000)
}

.content {
    padding: 6px;

    background: #444;
}

.screen {
    background: #ccc;
}

.screen1,
.screen2 {
    height: 60px;
    max-width: 100%;

    word-wrap: break-word;
    word-break: break-all;

    text-align: right;
}

.screen1 {
    font-size: 2rem;
}

.screen2 {
    font-size: 3rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
    grid-gap: 6px;

    margin-top: 6px;
}

.buttons button {
    background: #424242;
    color: #eeeeee;

    border: 1px solid black;
    box-shadow: 0 0 3px #000;
}

.buttons button:active {
    box-shadow: inset 0 0 10px #000;
}

.buttons #all-clear {
    grid-column: 1 / 3;
}

.buttons .plus {
    grid-row: span 2;
}

.buttons .zero {
    grid-column: span 2;
}